@import '../../styles/app.components';

.marginBot {
  // margin-bottom: 180px;
  margin-bottom: 90px;
}


.mobileSubmitButton {
  position: fixed;
  right:    $mobileNavigationSidesOffset;
  bottom:   $mobileNavigationBottomOffset;
  left:     $mobileNavigationSidesOffset;

  >.floatRight {
    float: right;
  }

  >.floatLeft {
    float: left;
  }
}

.rotating {
  @include rotating(2s);
}

.submitBtn {
  display: flex;

  >.floatRight {
    flex: 1 1;
    text-align: right;
  }

  >.floatLeft {
    flex: 1 1;
    text-align: left;
  }
}

// -- Responsive Styles (Media Queries) -------------------------------------
// -- Only apply on big window ----------------------------------------------
@media (min-width: $collapseWidth) {
  .submitBtn {
    margin-top: 35px;

    &.center {
      >div {
        margin: auto;
      }
    }
  }
}

// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  .inModal {
    margin-top: 35px;
  }

  .submitBtn:not(.inModal) {
    position: fixed;
    right:    80px;
    bottom:   20px;
    left:     20px;

    &.center {
      right: 20px;

      >div {
        margin: auto;
      }
    }
  }
}
