@import '../../_styles/app.desktop';

.centerDiv{
  padding:    $addButtonMargin 0;
  text-align: center;
}

.floatRight{
  float: right;
}

.module{
  flex: 1 1;
  background-color: $blue;
  color: white;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  color: white;
  margin-top: 10px;

  .settings{
    float: right;
    top: -15px;
    position: relative;
  }
}
