@import '../../_styles/app.desktop';

.centerDiv {
  padding:    $addButtonMargin 0;
  text-align: center;
}

.floatRight {
  float: right;
}

.module {
  flex:             1 1;
  margin-top:       10px;
  padding:          20px;
  border:           1px solid $verticalMenuBorderColor;
  border-radius:    5px;
  background-color: $tableSpoilerBackground;
  color:            $black;

  .settings {
    position: relative;
    top:      -15px;
    float:    right;
  }
}

.finance {
  margin-bottom: 100px;
}
