@import '../../styles/app.components';

.button {
  transition: all .25s ease;
  border:     0;
  background: $white;
  cursor:     pointer;

  &:hover {
    color: $blue;
  }

  > svg {
    display: none;
  }
}

.floatRight {
  float: right;
}

.active {
  color: $blue;
}
