@import '../_styles/app.desktop';

.dateSelector {
  width:      60px;
  margin-top: 5px;
  padding:    10px 12px;

  border:        0;
  border-radius: 0;
  outline:       none;

  background-color:      transparent;
  font-size:             16px;
  font-weight:           bold;
  text-align:            center;
  -webkit-border-radius: 0;
  -webkit-box-shadow:    none;
  box-shadow:            none;
}

.inline {
  display: inline-block;
}

.dash {
  padding: 6px;
}

// -- Responsive Styles (Media Queries) -------------------------------------
// -- Only apply on big window ----------------------------------------------
@media (min-width: $collapseWidth) {
  .analyticsContainer {
    position: absolute;
    right:    20px;
    left:     20px;

    &.shrink {
      right: 200px;
    }
  }
}

// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  .bottomMargin {
    margin-bottom: 100px;
  }
}
