@import '../_styles/app.desktop';

.inline {
  display:    inline-block;
  margin-top: 12px;
}

.dash {
  padding: 6px;
}

// -- Responsive Styles (Media Queries) -------------------------------------
// -- Only apply on big window ----------------------------------------------
@media (min-width: $collapseWidth) {
  .analyticsContainer {
    // position: absolute;
    right:    20px;
    left:     20px;

    &.shrink {
      right: 200px;
    }
  }
}

// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  .bottomMargin {
    margin-bottom: 100px;
  }
}
