@import '../../styles/app.components';

.pricing {
  position:   relative;
  flex:       1 1;
  margin:     5px;
  border:     1px solid $lightGray;
  text-align: center;
}

.points {
  margin:        25px 10px 75px;
  padding:       0;
  border-bottom: 1px solid $lightGray;
  list-style:    none;
  text-align:    center;

  >li {
    padding:    10px 0;
    border-top: 1px solid $lightGray;

    letter-spacing: -.01em;
    line-height:    1.5;
  }
}

.button {
  position: absolute;
  right:    0;
  bottom:   0;
  left:     0;
}

.selected {
  background-color: $blue;
  color: $white;

  >ul {
    border-bottom: 1px solid $white;

    >li {
      border-top: 1px solid $white;
    }
  }
}
