@import '../../styles/app.components';

.controlls{
  display: flex;

  .flex{
    flex-grow: 1;
  }
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.occupacny{
  // position: relative;
  // overflow: auto;

  tbody {
    display:block;
    max-height:550px;
    overflow-y: auto;
    overflow-x: hidden;

    tr:hover{
      border-top: 1px solid $blue;
      border-bottom: 1px solid $blue;
      background-color: lighten($blue, 50%);
    }
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em )
  }

  > table {
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
    border-collapse: collapse;

    td:first-child{
      width: 65px;
    }

    &.freezeHeader{
      margin-top: 0px;
      position: fixed;
      background-color: $white;
      top: 0;
      z-index: 10;
    }
  }
}

// ============================================================================
// TABLE STYLING
.bottomBorder{
  border-bottom: 1px solid $black;
}

.rightBorderDotted{
  border-right: 1px dotted $black;
  position: relative; // here to help with reservations
}
.rightBorder{
  border-right: 1px solid $black;
}

.weekend{
  background: $lightGray;
}

.reservationDiv{
  position: absolute;
  height: calc(100% - 4px);
  top: 1px;
  z-index: 9;
  overflow: hidden;

  color: $white;
  // font-weight: bold;
  vertical-align: middle;
  font-size: 14px;
  border: 1px solid $black;

  &.future{
    background: $blue;
  }
  &.ongoing{
    background: $black;
  }
  &.fulfilled{
    background: $gray;
  }

  >span{
    padding: 0 10px;
  }
}
.nowLine{
  position: absolute;
  height: 100%;
  background: $red;
  top: 0;
  width: 2px;
  z-index: 9;
}

.date{
  font-weight: bold;
}

.reservation{
  background-color: $gray;
}

.now{
  border-right: 2px solid $red;
}

.placePadding{
  padding: 0 5px;
  // width: 1%;
  vertical-align: bottom;
  white-space: nowrap;
}


// ============================================================================
// TOOLTIP TABLE STYLING
.tooltipTable{
  >tbody{
    >tr{
      >td{
        &:first-child{
          padding-right: 5px;
        }

        &:last-child{
          font-weight: bold;
        }
      }
    }
  }
}
