@import '../../styles/app.components';

.tableDiv {
  max-height: 760px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.table {
  width:           100%;
  border-collapse: collapse;

  &.fixedHeader {
    @media (min-width: $collapseWidth) {
      width: calc(100% - 16px);
    }
    @media (max-width: $collapseWidth) {
      width: 100%;
    }
  }

  >tbody {
    table-layout: fixed;

    >tr {
      background-color: $white;

      &:hover {
        border-bottom:    1px dotted $blue !important;
        background-color: lighten($blue, 50%);
      }
    }
  }

  > tbody, thead {
    display: block;

    >tr {
      display:      table;
      width:        100%;
      table-layout: fixed;

      > td {
        position: relative;

        &:first-child {
          width:       60px;
          padding:     2px 1px;
          font-weight: bold;
        }
      }
    }

    >tr, td {
      &.weekend {
        background: $tableSpoilerBackground;
      }

      &.rightBorderDotted {
        border-right: 1px dotted $verticalMenuBorderColor;
      }

      &.boldBorder {
        border-right: 2px solid $verticalMenuBorderColor;
      }

      &.rightBorder {
        border-right: 1px solid $verticalMenuBorderColor;
      }

      &.bottomBorder {
        border-bottom: 1px solid $verticalMenuBorderColor;
      }
    }
  }
}

.now {
  position:   absolute;
  top:        0;
  width:      2px;
  height:     100%;
  background: $red;
  z-index:    9;
}

.reservation {
  position:     absolute;
  top:          2px;
  height:       calc(100% - 5px);
  padding-top:  1px;
  padding-left: 1px;

  color:     $white;
  font-size: 14px;
  cursor:    pointer;

  vertical-align: middle;
  z-index:        9;

  >span {
    white-space:    nowrap;
    pointer-events: none;
  }

  &:not(.textOnLeft):not(.textOnRight) {
    >span {
      display:       block;
      text-overflow: ellipsis;
      overflow:      hidden;
    }
  }

  &.textOnLeft {
    >span {
      display:   inline-block;
      transform: translateX(calc(-100% - 3px));
      color:     $black;
    }
  }

  &.textOnRight {
    >span {
      display:   block;
      transform: translateX(calc(100% + 3px));
      color:     $black;
    }
  }

  &.forCurrentUser {
    &.future {
      background: $darkBlue;
    }
    &.ongoing {
      background: $lightBlue;
    }
    &.fulfilled {
      background: $grayBlue;
    }
  }

  &.forFellowUser {
    &.future {
      background: $blueGreen;
    }
    &.ongoing {
      background: $darkGreen;
    }
    &.fulfilled {
      background: $grayGreen;
    }
  }

  &.noDetails {
    background: $littleLighterGray;
  }

  &.notApproved {
    background: $red !important;
  }

}

.notApprovedLabel {
  font-weight: bold;
  text-align: center;
}

.tooltipTable {
  color: $black;
}


// -- Responsive Styles (Media Queries) -------------------------------------
// -- Only apply on big window ----------------------------------------------
@media (min-width: $collapseWidth) {
  .monthDate:nth-child(2n) {
    display: none;
  }
}

// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  .monthDate {
    display: none;
    font-size: 12px;

    &:nth-child(3n) {
      display: table-cell;
    }
  }

  .weekDate {
    font-size: 12px;

    &:nth-child(2n+1) {
      color: transparent;
    }
  }
}
