@import '../../styles/app.components';

.tableDiv {
  max-height: 760px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.table {
  width:           100%;
  border-collapse: collapse;

  &.fixedHeader {
    width: calc(100% - 16px);
  }

  >tbody {
    table-layout: fixed;

    >tr:hover {
      background-color: lighten($blue, 50%);
    }
  }

  > tbody, thead {
    display: block;

    >tr {
      display:      table;
      width:        100%;
      table-layout: fixed;

      > td {
        position: relative;

        &:first-child {
          width:       60px;
          padding:     2px 1px;
          font-weight: bold;
        }
      }
    }

    >tr, td {
      &.weekend {
        background: $lightLightGray;
      }

      &.rightBorderDotted {
        border-right: 1px dotted $black;
      }

      &.boldBorder {
        border-right: 2px solid $black;
      }

      &.rightBorder {
        border-right: 1px solid $black;
      }

      &.bottomBorder {
        border-bottom: 1px solid $black;
      }
    }
  }
}

.now {
  position:   absolute;
  top:        0;
  width:      2px;
  height:     100%;
  background: $red;
  z-index:    9;
}

.reservation {
  position:     absolute;
  top:          2px;
  height:       calc(100% - 4px);
  padding-left: 1px;

  color:     $white;
  font-size: 14px;

  overflow:       hidden;
  vertical-align: middle;
  z-index:        9;

  &.forCurrentUser {
    &.future {
      background: $darkBlue;
    }
    &.ongoing {
      background: $lightBlue;
    }
    &.fulfilled {
      background: $grayBlue;
    }
  }

  &.forFellowUser {
    &.future {
      background: $blueGreen;
    }
    &.ongoing {
      background: $darkGreen;
    }
    &.fulfilled {
      background: $grayGreen;
    }
  }

  &.noDetails {
    background: $littleLighterGray;
  }

}
