@import '../../styles/app.components';

.controlls{
  display: flex;

  .flex{
    flex-grow: 1;
  }
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.occupacny{
  overflow: auto;

  > table {
    margin-top: 20px;
    width: calc(100% - 1px);
    border-collapse: collapse;
  }
}

// ============================================================================
// TABLE STYLING
.bottomBorder{
  border-bottom: 1px solid $black;
}

.rightBorderDotted{
  border-right: 1px dotted $black;
  position: relative; // here to help with reservations
}
.rightBorder{
  border-right: 1px solid $black;
}

.reservationDiv{
  position: absolute;
  height: 100%;
  background: $gray;
  top: 0;
  z-index: -1;

  color: $white;
  font-weight: bold;
  >span{
    padding: 0 10px;
  }
}
.nowLine{
  position: absolute;
  height: 100%;
  background: $red;
  top: 0;
  width: 2px
}

.date{
  font-weight: bold;
}

.reservation{
  background-color: $gray;
}

.now{
  border-right: 2px solid $red;
}

.placePadding{
  padding-left: 10px;
  vertical-align: bottom;
  white-space: nowrap;
}
