@import '../../styles/app.components';

$labels-offset:                -12px;
$font-size:                    16px;
$font-size-accessories:        12px;
$mobile-font-size-accessories: 9px;
$transition-time:              .2s;
$placeholder-transition:       .3s ease all;
$placeholder-delay:            .1s;




.customFormGroup {
  position:   relative;
  margin-top: 22px;

  .inlineMenu {
    top:            $labels-offset;
    left:           100%;
    margin-top:     0;
    transform:      translate(-100%, 0);
    font-size:      $font-size-accessories;
    pointer-events: all;
  }

  .callendar {
    top:        12px;
    left:       100%;
    margin-top: 0;
    transform:  translate(-100%, 0);

    font-size:      18px;
    pointer-events: all;
  }

  >input {
    display: block;
    width:   calc(100% - 24px);
    padding: 12px 12px 8px;

    border:           0;
    border-bottom:    1px solid $verticalMenuBorderColor;
    border-radius:    0;
    background-color: transparent;
    font-size:        $font-size;


    -webkit-border-radius: 0;
    -webkit-box-shadow:    none;
    box-shadow:            none;

    &::-webkit-datetime-edit {
      color: transparent;
    }

    // border color handling
    &:focus {
      outline:      none;
      border-color: $yellow;

      &::-webkit-datetime-edit {
        color: $black;
        // TODO: compatibility with other browsers
      }
    }

    &:not([value='']) {
      border-color: $yellow;
    }

    &:valid:not(:focus):not([value='']) {
      border-color: $green;

      &::-webkit-datetime-edit {
        color: $black;
      }
    }

    &:invalid:not(:focus):not([value='']) {
      border-color: $red;
    }

    // other colors/showing/disapearing/moving handling
    &:focus::-webkit-input-placeholder {
      opacity: 1;
    }

    &:invalid:not(:focus):not([value='']) ~ .error {
      opacity: 1;
    }

    &:invalid:not(:focus):not([value='']) ~ .bar:before {
      width:      100%;
      background: $red;
    }

    // &:valid:not(:focus):not([value='']) ~ .bar:before {
    //   width:      100%;
    //   background: $green;
    // }

    &:focus ~ .bar:before, &:focus ~ .bar:after {
      width:  100%;
    }

    &:focus ~ .label, &:not([value='']) ~ .label {
      top:       $labels-offset;
      left:      0;
      transform: translate(0, 0);

      // -- Responsive Styles (Media Queries) -------------------------------------
      // -- Only apply on big window ----------------------------------------------
      @media (min-width: $collapseWidth) {
        font-size: $font-size-accessories;
      }

      // -- Only apply on small window --------------------------------------------
      @media (max-width: $collapseWidth) {
        font-size: $mobile-font-size-accessories;
      }
    }

    // Read only should be valid
    &:-moz-read-only { // For Firefox
      border-color: $green;

      ~ .bar:before {
        width:      100%;
        background: $green;
      }
    }

    &:read-only {
      border-color: $green;

      ~ .bar:before {
        width:      100%;
        background: $green;
      }
    }
  }

  >input[type='datetime-local'], >input[type='date']  {
    // date picker is 5px taller -> correct padding
    padding-bottom: 3px;
  }

  >label {
    position:           absolute;
    top:                18px;
    left:               5px;
    transition:         $transition-time ease all;
    -moz-transition:    $transition-time ease all;
    -webkit-transition: $transition-time ease all;

    white-space:    nowrap;
    font-weight:    normal;
    color:          $gray ;
    pointer-events: none;

    // -- Responsive Styles (Media Queries) -------------------------------------
    // -- Only apply on big window ----------------------------------------------
    @media (min-width: $collapseWidth) {
      font-size: $font-size-accessories;
    }
    // -- Only apply on small window --------------------------------------------
    @media (max-width: $collapseWidth) {
      font-size: $mobile-font-size-accessories;
    }
  }

  ::-webkit-input-placeholder { // Chrome/Opera/Safari
    transition:       $placeholder-transition;
    transition-delay: $placeholder-delay;
    color:            $lightGray;
    opacity:          0;
  }

  ::-moz-placeholder {
    transition:       $placeholder-transition;
    transition-delay: $placeholder-delay;
    color:            $lightGray;
    opacity:          0;
  }

  :-ms-input-placeholder {
    color: transparent;
  }

  :-moz-placeholder {
    transition:       $placeholder-transition;
    transition-delay: $placeholder-delay;
    color:            $lightGray;
    opacity:          0;
  }

  .error {
    top:        $labels-offset;
    left:       100%;
    margin-top: 12px;
    transform:  translate(-100%, 0);

    color:     $red;
    font-size: $font-size-accessories;
    opacity:   0;
  }

  >.bar {
    display:    block;
    position:   relative;
    width:      100%;
    text-align: initial;

    &:before {
      position:           absolute;
      bottom:             1px;
      width:              0;
      height:             2px;
      transition:         $transition-time ease all;
      -moz-transition:    $transition-time ease all;
      -webkit-transition: $transition-time ease all;

      content:            '';
      background:         $yellow;
    }
  }

  &.dimmer {
    background-color: $lightGray !important;

    >input {
      color:  $gray !important;
      cursor: default;
    }
  }
}

.reservation {
  background-color: $inputsBackGround;
  color:            $black;
  border-radius:    5px;

  >input{
    min-height: 1.7em;
  }
}

.highlighted {
  >input {
    border-bottom: 1px solid $red;
    background:    rgba($red, .5);
  }
}

// Alignment definitions
.left>input {
  text-align: left;
}

.center>input {
  text-align: center;
}

.right>input {
  text-align: right;
}

.center>label {
  left:       50%;
  transform:  translate(-50%, 0);
}

.right>label {
  left:       100%;
  transform:  translate(-100%, 0);
}
