@import '../../styles/app.components';

.container {
  display:    block;
  position:   relative;
  height:     18px;
  margin-top: 22px;
  padding:    12px 12px 8px;

  border:           0;
  border-bottom:    1px solid $verticalMenuBorderColor;
  background-color: transparent;

  font-size:  16px;
}

.label {
  position: absolute;
  top:      -12px;
  left:     0;

  color:          $gray ;
  font-size:      13px;
  font-weight:    normal;
  white-space:    nowrap;
  pointer-events: none;
}

.highlight {
  border-bottom: 1px solid $red;
  background:    rgba($red, .5);
}