@import '../../styles/app.components';

.container{
  padding: 10px;
}

.table {
  width: 100%;
  // table-layout: fixed;

  > tbody {
    > tr {
      > td {
        border-bottom: 1px solid $black;
      }
    }
  }
}
