@import '../../_styles/app.desktop';

.page {
	padding: 25px;
}



.spoiler{
	display: flex;
	>div:first-child{
		flex: 1 1;
	}
}

.contract{
	font-weight: bold;
	cursor: pointer;
	color: $blue;
}

// .addButton {
// 	margin-top:  	 $addButtonMargin ;
// 	text-align: 	 center;
// 	// position: 		 fixed;
// 	// bottom: 			 0;
// 	// right: 				 50%;
// 	// margin-bottom: 40px;
// }
.addButton{
  padding:    $addButtonMargin 0;
  text-align: center;
  position:   fixed;
  bottom:     0px;
  right:      50%;
}
@media (max-width: $collapseWidth) {
  .addButton{
    transform: translateX(50%);
  }
}

.tableContainer{
  margin-bottom: 140px;
}

.green{
	color: $green;
}

.red{
	color: $red;
}
