@import '../../_styles/app.desktop';

.page {
	padding: 25px;
}

.addButton {
	margin-top:  $addButtonMargin ;
	text-align: center;
}


.spoiler{
	display: flex;
	>div:first-child{
		flex: 1 1;
	}
}

.contract{
	font-weight: bold;
	cursor: pointer;
}
