@import '../../_styles/app.desktop';

.page {
  padding: 25px;
}



.spoiler {
  display: flex;

  >div:first-child {
    flex: 1 1;
	}
}

.contract {
  color: $blue;
  font-weight: bold;
  cursor: pointer;

  &.disabled {
    color:  $gray;
    cursor: default;
	}
}

.addButton {
  position:   fixed;
  right:      50%;
  bottom:     0;
  padding:    $addButtonMargin 0;
  text-align: center;
}

@media (max-width: $collapseWidth) {
  .addButton {
    transform: translateX(50%);
  }
}

.tableContainer {
  margin-bottom: 140px;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
