@import '../../_styles/app.desktop';

.flex {
  display: flex;

  >div:first-child {
    // position: relative;
    flex: 1 1;
    padding-right: 10px;
  }

  >div:last-child {
    flex: 2 2;
  }
}

.oneButton {
  >div {
    display: inline-block;
    width: calc(100% - 60px);
  }
}

.twoButtons {
  >div {
    display: inline-block;
    width: calc(100% - 120px);
  }
}

.red {
  color: $red;
}

.checkbox {
  margin-top: 12px;
  cursor: pointer;
}

.tooltip {
  >tbody {
    >tr {
      >td {
        &:first-child {
          color: $gray;
          font-size: 14px;
          text-align: right;
        }

        &.flex {
          display: flex;

          >.dash {
            padding: 0 3px;
          }
        }

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}
