@import '../../styles/app.components';
@import './Button';

.button {
  @include    colorize($blue);

  display:    inline-block;
  margin:     5px;
  padding:    5px 10px;
  transition: all .3s ease;

  border:         0;
  border-radius:  3px;
  outline:        none;
  color:          $white;
  text-align:     center;
  cursor:         pointer;
}

.label {
  font-size: 18px;
}

// types
.remove {
  @include colorize($red);
  color:            $white;
}

.success {
  @include colorize($green);
  color:            $white;
}

.fullWidth {
  width: 100%;
}

// states
.selected {
  background-color: $yellow;
  color:            $black;
}

.disabled {
  background-color: $lightGray;
  color:            $gray;
  cursor:           default;
}

.inverted {
  @include colorize($lightGray);
  color:   $gray;
}
