.labeledRoundButton {
  display: inline-block;
  width: 60px;
  vertical-align: top;

  >div {
    padding: 2px;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
  }

  >button {
    margin-bottom: 0;
  }
}
