.labeledRoundButton{
  width: 60px;
  display: inline-block;
  vertical-align: top;

  >div{
    text-align: center;
    padding: 2px;
    font-size: 12px;
    word-wrap: break-word;
  }

  >button{
    margin-bottom: 0;
  }
}
