@import '../../styles/app.components';
@import './Button';

// button will fill its parent
$size-normal-width:     100%;
$size-collapsed-width:  150px;


.button {
  @include colorize($clickableColor);

  position:   relative;
  flex:       1 1;
  width:      $size-normal-width;
  min-height: 80px;
  padding:    18px 0 8px;
  transition: all .4s ease;
  border:     0;
  outline:    none;
  color:      $lightGray;
  font-size:  16px;
  text-align: center;
  cursor:  pointer;
}

.count {
  position: absolute;
  font-size: 18px;
  font-weight: bold;

  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.safariCount {
  -ms-transform: translate(-128%, 15%); /* IE 9 */
  -webkit-transform: translate(-128%, 15%); /* Chrome, Safari, Opera */
  transform: translate(-128%, 15%);
}

.chromeCount {
  -ms-transform: translate(-150%, 10%); /* IE 9 */
  -webkit-transform: translate(-150%, 10%); /* Chrome, Safari, Opera */
  transform: translate(-150%, 10%);
}

.adjustPadding {
  padding: 12px 0;
}

.content {
  display: block;
}

.icon {
  font-size:  22px;
}

.label {
  margin-top: 6px;
}



// types
.action {
  @include colorize($actionColor);
}

.confirm {
  @include colorize($confirmColor);
}

.remove {
  @include colorize($removeColor);
}


// size
.collapsed {
  width:    $size-normal-width;
  padding:  8px 0;

  .label {
    display: none;
  }
}

.small {
  padding: 8px 20px;
  text-align: left;

  >div {
    >span {
      display: initial;

      &.content {
        margin: 0 5px;
      }
    }
  }
}

// states
.selected {
  color: $selectedColor;
}

.disabled {
  background: $lightGray;
  color:      $gray;
  cursor:     default;
}

// Mobile menu button
.centerInDiv {
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  > .icon {
    font-size: 30px;
  }
}
