@import '../../styles/app.components';
@import './Button';

$size-normal: 50px;
$big:         1.4;

// ----------------------------------------------------------------------------

.button {
  @include border-radius(240px);

  width:      $size-normal;
  height:     $size-normal;
  font-size:  24px;
  border:     none;
  outline:    none;
  text-align: center;
  transition: all 0.4s ease;
  margin:     5px;
  padding:    0;

  @include colorize($clickableColor);
  color:   $white;
  cursor:  pointer;
}


.action {
  @include colorize($actionColor);
}
.confirm {
  @include colorize($confirmColor);
}
.remove {
  @include colorize($removeColor);
}
.info{
  @include colorize($white);
  color: $blue;
}

.selected {
  background: $selectedColor;
  color:      $black;
  cursor:     default;
}
.disabled {
  background: $lightGray;
  color:      darken($lightGray, 10);
  cursor:     default;
}


.big {
  width:     $big * $size-normal;
  height:    $big * $size-normal;
  font-size: $big * 24px;
}
