@import '../../styles/app.components';
@import './Button';

// button will fill its parent
$size-collapsed-width:  150px;


.button {
  @include colorize($white);
  margin:  5px 2px -1px;
  padding: 12px 20px;

  border:     0;
  outline:    none;
  background: transparent;
  color:      $black;
  font-size:  16px;
  text-align: center;
  cursor:     pointer;
}

.icon { // default size
  font-size:  50px;
}

.label {
  margin-top: 2px;
  font-size: 15px;
}

// states
.selected {
  border-bottom: 3px solid $black;
  color:         $black;
  font-weight:   bold;
  cursor:        default;
}

.disabled {
  color:      $lightGray;
  cursor:     default;
}
