@import '../../styles/app.components';

.button{
  border:     none;
  outline:    none;
  text-align: center;
  transition: all 0.1s ease;
  padding:    0px 16px;

  background-color: inherit;
  color:            $lightGray;
  cursor:           pointer;
}
//
// // types
// .action {
//   color: $actionColor;
// }
// .confirm {
//   color: $confirmColor;
// }
// .remove {
//   color: $removeColor;
// }


// states
.selected {
  font-weight: bold;
  color:       $black;
  cursor:      default;
}
.disabled {
  color:      $lightGray;
  opacity:    .4;
  cursor:     default;
}
