@import '../../styles/app.components';

.datepickerContainer {
  display: inline-block;
  width:   250px;
}

.monthContainer {
  display:   flex;
  flex-wrap: nowrap;
  width:     100%;

  > div {
    padding:    5px;
    text-align: center;
  }

  > .chevron {
    flex-grow: 1;
    cursor:    pointer;
  }

  > .month {
    flex-grow:   5;
    font-weight: bold;
  }

  > .day {
    flex-grow: 2;
  }
}

.daysTable {
  width:        100%;
  text-align:   center;
  table-layout: fixed;
}

.dayName {
  color: $lightGray;
}

.clickable {
  cursor: pointer;
}

.today {
  width:            $pickerRowHeigh;
  height:           $pickerRowHeigh;
  margin:           auto;
  border-radius:    12px;
  background-color: $blue;
  color:            $white;
}

.selected {
  width:            $pickerRowHeigh;
  height:           $pickerRowHeigh;
  margin:           auto;
  border-radius:    12px;
  background-color: $yellow;
  color:            $black;
  font-weight:      bold;
}

.buttonContainer {
  display:    block;
  margin-top: 5px;
  text-align: center;

  > span {
    margin:      0 5px;
    font-weight: bold;
    cursor:      pointer;
  }
}

.pickerRow {
  height: $pickerRowHeigh;

  >td {
    >div {
      display:        inline-table;
      height:         $pickerRowHeigh;
      vertical-align: middle;
    }
  }
}
