@import '../../styles/app.components';

.tabMenu{
  border-bottom: 1px solid $lightGray;
  display: block;

  .left{
    display: inline-block;

    :first-child{
      margin-left: 0;
    }
  }

  .right{
    display: inline-block;
    float: right;
    margin-top: -6px;

    :last-child{
      margin-right: 0;
    }
  }
}
