@import '../../styles/app.components';

.tabMenu {
  display:       block;
  border-bottom: 1px solid $lightGray;

  .left {
    display: inline-block;

    :first-child {
      margin-left: 0;
    }
  }

  .right {
    display: inline-block;
    float:   right;

    :last-child {
      margin-right: 0;
    }
  }
}
