@import '../../styles/app.components';

.buttons {
  display:          flex;
  padding:          10px;
  background-color: $tableSpoilerBackground;

  >div:first-child {
    flex: 1 1;
    text-align: left;
  }

  >div:last-child {
    text-align: right;
  }
}

.grayBackground { // for dashboard
  // margin:           0 20px 20px 0;
  background-color: $tableSpoilerBackground;

  min-height: 600px;

  >div>svg {
    max-width: 100%;
  }
}

.padding {
  padding: 10px 5px 0;
}

.text {
  font-size:      30px;
  pointer-events: none;
}

.svgContainer {
  width:            100%;
  background-color: $tableSpoilerBackground;
  text-align:       left;
}

// SVG Styles //
.gvSelected {
  fill: $yellow !important;
}

.gvOccupied {
  fill: $gray !important;
}

.gvFree {
  fill: $blue !important;
}

.gvText {
  fill: $black;
}
