@import '../../styles/app.components';

.submitBtn {
  margin-top: 35px;
}

.marginBot {
  margin-bottom: 180px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.mobileSubmitButton {
  position: fixed;
  right:    $mobileNavigationSidesOffset;
  bottom:   $mobileNavigationBottomOffset;
  left:     $mobileNavigationSidesOffset;
}

.rotating {
  @include rotating(2s);
}
