@import '../../styles/app.components';

$font-size: 16px;

.searchBox {
  max-width:     calc(100% - 10px);
  padding:       2px 5px;
  float:         right;
  border-bottom: 1px solid $verticalMenuBorderColor;

  >i {
    font-size: $font-size;
  }

  >input {
    border:           0;
    border-radius:    0;
    outline:          none;
    background-color: transparent;
    font-size:        $font-size;
    box-shadow:       none;

    // IPhone compatibility
    -webkit-box-shadow:    none;
    -webkit-border-radius: 0;
  }

  &:hover {
    background: darken($white, 10%);
  }
}

.tdSearchBar {
  display:   flex;
  padding:   5px;
  font-size: 12px;

  >span {
    > input {
      width:       100%;
      max-width:   50px;
      margin:      0;
      border:      0;
      outline:     none;
    }

    > i {
      &.callendar {
        margin-right: 5px;
      }
    }
  }

  > span {
    margin: 2.5px;
    cursor: pointer;

    &.disabled {
      color: $lightGray !important;

      >* {
        color: $lightGray !important;
      }
    }
  }
}

.rtTable {
  width:            100%;
  border-spacing:   0;
  transform-origin: top left;

  > thead {
    > tr > td {
      border-bottom: 1px solid $verticalMenuBorderColor;

      > td:hover {
        background:  darken($white, 10%);
      }
    }
  }
}

.tr {
  > td {
    padding:       4px;
    border-bottom: 1px solid $verticalMenuBorderColor;
  }
}

.spoilerRow {
  background: $yellow;

  >td {
    border-bottom: 1px dashed $verticalMenuBorderColor !important;
  }

  &:hover {
    background: $yellow !important;
    color:      $black !important;
  }
}

.disabled {
  color: $lightGray;
}

.deleted {
  color:           $red;
  text-decoration: line-through;
}

.spoiler {
  background: $tableSpoilerBackground !important;
}

.tdHeader {
  cursor: pointer;

  &:hover {
    background-color: darken($white, 10%);
  }
}


.paginatedTable {
  position: relative;

  >.loading {
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
    left:       0;
    background: rgba($white, .7);
    z-index:    10;

    >span {
      display:   block;
      position:  absolute;
      top:       50%;
      left:      50%;
      transform: translate(-50%, -50%);
    }
  }
}

.tableContainer {
  transform-origin: top left;
  width:            fit-content; 
}