@import '../../styles/app.components';

.notification {
  margin:        5px 5px 10px;
  padding:       5px;
  border:        1px solid $gray;
  border-radius: 5px;
  color:         $white;

  .header {
    padding:     0 10px;
    font-weight: bold;

    &:first-child {
      padding-top: 10px;
    }
  }

  .body {
    padding:    10px;
  }

  .notificationsButtons {
    display:    block;
    text-align: right;
  }
}
