@import '../../styles/app.components';

.tabs {
  :first-child {
    margin-left: 0;
  }
}

.content {
  display: block;
  padding: 10px;
  border-top: 1px solid $lightGray;
}

// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  .bottomMargin {
    margin-bottom: 100px;
  }
}
