@import '../_styles/app.desktop';

<<<<<<< HEAD
=======
.pointer{
  cursor: pointer;
}

>>>>>>> feature/new_api
.contentPadding{
  padding: 25px 15px 0;
}

.inputWidth{
  width: calc(100% - 120px);
}

.smallInputWidth{
  width: calc(33.33% - 43.33px);
}
.middleMargin{
  margin-left: 5px;
  margin-right: 5px;
}

<<<<<<< HEAD
=======
.latLngInputWidth{
  width: calc(50% - 2.5px);
}
.gatePhoneInputWidth{
  width: calc(50% - 33px);
}
.rightMargin{
  margin-right: 5px;
}

>>>>>>> feature/new_api
.hidden{
  display: none;
}

.inline{
  display: flex;
}

<<<<<<< HEAD
=======
.floatCenter{
  text-align: center;
}


>>>>>>> feature/new_api
@media (min-width: $collapseWidth) {
  .parent{
    display: flex;
  }

  .leftCollumn{
    display: inline-block;
    padding-right: 25px;
    width: 50%;

    // border-right: 1px solid black;
  }

  .rightCollumn{
    display: inline-block;
    width: 50%;
  }
}

@media (max-width: $collapseWidth) {
  .leftCollumn{
  }

  .rightCollumn{
  }
}
