@import '../../styles/app.components';

$height: 29px;
$width:  60px;
$switch: 25px;

.switchContainer {
  position: relative;
  top: 8px;
  width:  $width;
  transition: all .3s ease;

  border: 1px solid $gray;
  border-radius: 15px;
  background-color: $white;
  cursor: pointer;

  &.disabled {
    background-color: $lightGray;
  }
}

.switch {
  width:         $switch;
  height:        $switch;
  transition:    all .3s ease;
  border:        2px solid $gray;
  border-radius: 50%;

  &.on {
    border:           2px solid darken($green, 20%);
    background-color: $green;
  }

  &.off {
    transform:        translate(18px);
    border:           2px solid darken($red, 20%);
    background-color: $red;
  }

  &.disabled {
    border:           2px solid $gray;
    background-color: $lightGray;
  }
}
