@import '../../styles/app.components';

.button {
  transition: all .25s ease;
  border:     0;
  background: $white;
  cursor:     pointer;

  &:hover {
    color: $blue;
  }
}

.floatRight {
  float: right;
}

.active {
  color: $blue;
}

.editor {
  @include border-radius(5px);

  width:   100%;
  height:  200px !important;
  border:  1px solid $gray;
}
