@import '../../styles/app.components';

.datetimeContainer {
  display: flex;

  > div {
    display: inline-block;

    > div {
      vertical-align: top;
    }
  }
}

.datePicker {
  padding-right: 5px;
  border-right:  1px solid $black;
}

.timePicker {
  padding-left: 4px;
}
