.flex {
  display: flex;

  >.half {
    flex: 1 1;

    &:first-child {
      position:      relative;
      padding-right: 10px;
    }
  }
}

.dimmer {
  position: absolute;
  width:    100%;
  height:   100%;

  background:     rgba(255, 255, 255, .8);
  font-size:      22px;
  font-weight:    bold;
  line-height:    500px;
  text-align:     center;
  vertical-align: middle;
  z-index:        1;
}
