@import '../../_styles/app.desktop';

.row{
  display: flex;

}

.module{
  flex: 1 1;
  background-color: $blue;
  color: white;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  color: white;


  .goPublic{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
  }

  .settings{
    float: right;
    top: -15px;
    position: relative;
  }
}

// @media (min-width: $collapseWidth) {
//   .module{
//     display: block;
//     width: inherit;
//   }
// }

// @media (min-width: 1300px) {
//   .module{
//   width: 50%;
//   display: inline-block;
//   }
// }

// @media (max-width: $collapseWidth) {
//   .module{
//
//     width: 50%;
//     display: inline-block;
//   }
// }
