@import '../../_styles/app.desktop';

.flex {
  display: flex;

  >.half {
    flex: 1 1;

    // -- Only apply on small window --------------------------------------------
    @media (max-width: $collapseWidth) {
      margin-bottom: 100px;
    }

    &:first-child {
      position:      relative;
      padding-right: 10px;
    }
  }
}

.places {
  margin:     15px;
  text-align: center;
}

.red {
  color: $red;
}