@import '../../styles/app.components';

.success {
  background-color: $green;
  color:            $white;
  font-weight:      bold;
}

.failure {
  background-color: $red;
  color:            $white;
  font-weight:      bold;
}

.noPointerEvents {
  pointer-events: none;
}

.container {
  height: 100%;

  &:not(:last-child) {
    border-bottom: 1px dashed $white;
  }

  >div { // card
    display: flex;
  }
}

.message {
  padding-top: 15px;
  text-align:  center;

  >div {
    position:  absolute;
    top:       50%;
    right:     0;
    left:      0;
    transform: translate(0, -50%);
  }
}

.rotating {
  @include rotating(2s);
}
