@import '../../styles/app.components';

.button{
  height:     36px;

  font-size:  18px;
  font-weight: bold;
  border:     none;
  outline:    none;
  text-align: center;
  transition: all 0.1s ease;
  padding:    0px 16px;

  background-color: $white;
  color:            $black;
  cursor:           pointer;
}


// states
.selected {
  cursor: default;
  border-bottom: solid 5px $yellow;
}

.disabled {
  cursor:     default;
  color:      $black;
}
