@import './RoundButton';

.labeledRoundButton {
  display: inline-block;
  min-width: 50px;
  max-width: 70px;
  vertical-align: top;
  text-align: center;

  >div {
    padding: 2px 0px;
    font-size: 12px;
    text-align: center;
    word-wrap: normal;
    white-space: pre-wrap;
  }

  >button {
    margin: 0;
  }
}

.bigText {
  min-width: $big * $size-normal;
  max-width: $big * $size-normal;
}

.smallText {
  min-width: $small * $size-normal;
  max-width: $big * $size-normal;
}

.normalText {
  min-width: $size-normal;
  max-width: $big * $size-normal;
}
