.labeledRoundButton {
  display: inline-block;
  min-width: 60px;
  vertical-align: top;
  padding: 5px;

  >div {
    padding: 2px;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
  }

  >button {
    margin: 0;
  }
}
