@import '../../styles/app.components';
@import './Button';

// button will fill its parent
$size-collapsed-width: 150px;


.button {
  @include colorize($verticalMenuBorderColor);

  padding:    20px;
  transition: all .3s ease;
  border:     0;
  outline:    none;
  color:      $menuButtonFontColor;
  font-size:  16px;
  text-align: center;
  cursor:     pointer;

  &:not(.selected) {
    >div>.icon {
      color: $menuButtonFontColor;
    }
  }
}

.icon { // default size
  font-size:  50px;
}

.label {
  margin-top: 2px;
  font-size: 15px;
}


// types
.action {
  @include colorize($actionColor);
}

.confirm {
  @include colorize($confirmColor);
}

.remove {
  @include colorize($removeColor);
}


// states
.selected {
  background: $selectedColor;
  color:      $black;
  // cursor:     default;
}

.disabled {
  background: $lightGray;
  color:      $gray;
  cursor:     default;
}


// scalable media
@media (min-width: $collapseWidth) {
  .button {
    width: 100%;
  }

  @media (max-height: 830px) { // mediuym height
    .button {
      padding: 10px;
    }

    .icon {
      font-size:  40px;
    }
  }

  @media (max-height: 650px) { // low height
    .button {
      padding: 5px;
    }

    .icon {
      font-size:  30px;
    }
  }
}

@media (max-width: $collapseWidth) {
  .button {
    width: 50%;
  }
}
