@import '../../_styles/app.desktop';

h2 {
  margin-bottom: 0;
  text-align:    left;
}

.general {
  display: flex;


  .imageSelector {
    flex:       1 1;
    text-align: center;

    input {
      display: none;
    }

    img {
      max-width: 100%;
    }

  }

  .address {
    flex:          1 1;
    padding-right: 10px;

    .checkbox {
      margin-top: 12px;
    }
  }
}


.floors {
  // -- Responsive Styles (Media Queries) -------------------------------------
  // -- Only apply on big window ----------------------------------------------
  @media (min-width: $collapseWidth) {
    display:    flex;
  }

  // -- Only apply on small window --------------------------------------------
  @media (max-width: $collapseWidth) {
    .floorForm {
      margin-bottom: 20px;
    }
  }

  text-align: center;

  .floorForm {
    flex:          1 1;
    padding-right: 10px;

    .line {

      >.layout {
        display: inline-block;
        width:   32%;
        cursor:  pointer;

        >img {
          max-width:  100%;
          max-height: 150px;
        }
      }

      >div {
        display: inline-block;
        width:   calc(50% - 5px);
        cursor:  pointer;
      }

      :first-child {
        margin-right: 2.5px;
      }

      :last-child {
        margin-left: 2.5px;
      }
    }
  }

  .garageLayout {
    flex: 2 2;
  }
}

.gates {
  // -- Responsive Styles (Media Queries) -------------------------------------
  // -- Only apply on big window ----------------------------------------------
  @media (min-width: $collapseWidth) {
    display:    flex;
  }

  // -- Only apply on small window --------------------------------------------
  @media (max-width: $collapseWidth) {
    .gatesForm {
      margin-bottom: 20px;
    }
  }

  text-align: center;

  .gatesForm {
    flex:          1 1;
    padding-right: 10px;
  }

  .garageLayout {
    flex: 2 2;
  }

  .gsmCount {
    display:    inline-block;
    width:      56px;
    margin:     5px;
    background: $white;
  }
}


.subscribtion {
  .row {
    padding: 0 50px;

    >div {
      display:        inline-block;
      width:          calc(50% - 5px);
      padding-top:    10px;
      vertical-align: top;

      &:first-child {
        padding-right: 10px;
        text-align:    right;
      }
    }
  }

  .marketing {
    padding:     0 25%;
    font-weight: bold;
    text-align:  center;
  }
}


// From looks
.orderLayout {
  padding:       15px 0;
  border-radius: 3px;
  background:    $blue;
  color:         $white;
  cursor:        default !important;

  .checkbox {
    margin-top:  15px;
    font-weight: bold;
  }

  span {
    font-weight: bold;
  }
}

.pointer {
  cursor: pointer;
}

.contentPadding {
  padding: 25px 15px 0;
}

.inputWidth {
  width: calc(100% - 120px);
}

.smallInputWidth {
  width: calc(33.33% - 43.33px);
}
.middleMargin {
  margin-right: 5px;
  margin-left:  5px;
}

.latLngInputWidth {
  width: calc(50% - 2.5px);
}

.gatePhoneInputWidth {
  width: calc(50% - 33px);
}

.rightMargin {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.inline {
  display: flex;
}

.floatCenter {
  text-align: center;
}

.checkbox {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.phoneNumberDropdown {
  >label {
    margin-top:    3px;
    margin-bottom: -16px;
    float:         left;
    color:         $gray;
    font-size:     13px;
  }
}

// passwordIndication //
.flexi {
  display: flex;

  >div:first-child {
    flex: 1 1;

    >.gatePhoneInput {
      width: 100%;
    }
  }
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.passwordIndication {
  margin: 20px 5px 5px;
  font-size: 28px;
}
