@import '../../_styles/app.desktop';

.page {
  padding: 10px;
}

.addButton {
  @include add-button;
}

.inactiveText {
  margin: 0 5px;
  color: $lightGray;
  cursor: pointer;
}

.boldText {
  margin: 0 5px;
  cursor: pointer;
}

.clickable {
  margin: 0 10px;
  color: $blue;
  font-weight: bold;
  cursor: pointer;
}

.devider {
  border-bottom: 1px dashed $gray;

  > * {
    margin: 0 5px;
  }

  > :first-child {
    margin-left: 0;
  }

  > :last-child {
    margin-right: 0;
  }

  + div {
    span {
      margin: 0 10px;
    }
  }
}

.spoiler {
  > div {
    padding: 5px 0;
  }
}

.float {
  float: right;

  > * {
    margin: 0 5px;
  }
}

.clear {
  clear: both;
}
