@import '../_styles/app.desktop';

.centerDiv {
  text-align: center;
  padding-top: 5px;
}

h2 {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 1px;
  font-size: xx-large;
}

h3 {
  display: inline-block;
  font-size: larger;
}

.h2BorderBotom {
  border-bottom: 4px solid $black;
}

.h3BorderBotom {
  border-bottom: 2px solid $black;
}

.destroyModal {
  display: grid;
}

.container   { 
  width:400px;
  padding:15px; 
}
