@import '../_styles/app.desktop';

.centerDiv {
  padding-top: 5px;
  text-align:  center;
}

h2 {
  display:        inline-block;
  padding-bottom: 1px;
  font-size:      xx-large;
  font-weight:    bold;
}

h3 {
  display:   inline-block;
  font-size: larger;
}

.h2BorderBottom {
  border-bottom: 4px solid $black;
}

.h3BorderBottom {
  border-bottom: 2px solid $black;
}

.container {
  width:   400px;
  padding: 15px;
}
