@import '../_styles/app.desktop';

$priceFontSize: 30px;
$expenseOnFontSize: 20px;
$expenseOnPadding: (($priceFontSize + 4 - $expenseOnFontSize) / 2);

.padding {
  padding-top:   30px;
  padding-right: 25px;
}

.clickable {
  cursor: pointer;
}
.selected {
  font-weight: bold;
}
.hidden {
  display: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.floatCenter {
  text-align: center;
}

.loading {
  height:     200px;
  margin:     100px;
  text-align: center;
}

.fillInContact {
  padding:    5px;
  color:      $red;
  text-align: center;
}

.languagesSelector {
  padding:       12px 0;
  border-bottom: 1px solid $verticalMenuBorderColor;
}

.rightCollumn {
  background-color: $tableSpoilerBackground;
}

@media (min-width: $collapseWidth) {
  .parent {
    display: flex;
  }

  .leftCollumn {
    flex: 1 1;
  }

  .rightCollumn {
    flex: 2 2;
  }
}

@media (max-width: $collapseWidth) {
  .rightCollumn {
    margin-bottom: 90px;
  }
}

.recurringForm {
  display: flex;
  margin:  15px 0;

  >input {
    margin: auto 0;
  }
  &.hidden {
    display: none;
  }
}

.rule {
  flex:   1 1;
  margin: auto 0;
  cursor: pointer;

  &.disabled {
    color: $lightGray;
  }
}

.sendSmsCheckbox {
  margin-top:  12px;
  padding:     12px 0;
  font-weight: bold;
  cursor:      pointer;
}

.smsTemplates {
  >.textLabel {
    margin: 5px 0 3px;
    font-size: 13px;

    >.removeDiacritics {
      cursor:    pointer;
    }
  }

  >textarea {
    width:  100%;
    height: 100px;
    border-bottom: 1px solid $gray;
    background-color: $inputsBackGround;
    resize: none;
  }
}

.redText {
  color: $red;
}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  // align-items: stretch;
  &>div.leftCollumn {
    flex: 3 3;
    min-width: 100px;
    margin: auto;
    margin-left: 0px;
    order: 1;
  }
  &>div.middleCollumn {
    flex: 1 1;
    margin: auto;
    order: 2;
    min-width: 10px;
    max-width: 10px;
    text-align: center;
  }
  // TODO: Rename
  &>div.rightCcollumn {
    flex: 3 3;
    min-width: 100px;
    margin: auto;
    order: 3;
    margin-right: 0px;
  }
}

.searchField {
  position: relative;
}

.resetButton {
  position: absolute;
  right: 0.3em;
  font-size: 1em;
  cursor: pointer;
  z-index: 10;
  top: 0.4em;
  border-radius: 100%;
  min-width: 1em;
  width: 1.5em;
  height: 1.5em;
}

.textArea {
  margin-top:         22px;
  border-radius:      5px;
  background-color:   $inputsBackGround;

  >textarea {
    background-color: transparent;
    color:            black;
    width:            100%;
    padding:          12px 12px 8px;
    border-color:     transparent;
    overflow:         hidden;
  }

  >label {
    top:         18px;
    left:        5px;
    float:       left;
    font-size:   11px;
    white-space: nowrap;
  }
}

.placeLabelArea {
  @extend .textArea;
  text-align:       center;
  background-color: transparent;
  >textarea {
    font-size:      35px;
    font-weight:    bold;
    resize:         none;
    padding:        0;
    height:         1.3em;

    background-color: transparent;
    text-align:       center;
  }
}

.displayNone {
  display: none;
}

.price {
  font-size: $priceFontSize;
  font-weight: 600;
  display: flex;
}

.priceTag {
  min-width: 10em;
}

.expenseOn {
  font-size:   $expenseOnFontSize;
  font-weight: normal;
  line-height: $expenseOnFontSize;
  padding: $expenseOnPadding 0px;
  margin-left: 10px;
}$expenseOnFontSize: 20px;

.smsText {
  height: 10em;
}

.showMap {
  >button {
    text-align: center;
    width:      100%;
    margin:     0em;
  }
}

.actionButton {
  >button {
    padding: 0.5em 0.7em;
  }
}