@import '../_styles/app.desktop';

.padding {
  padding-top:   30px;
  padding-right: 25px;
}

.clickable {
  cursor: pointer;
}
.selected {
  font-weight: bold;
}
.hidden {
  display: none;
}

.floatRight {
  float: right;
}

.floatCenter {
  text-align: center;
}

.loading {
  height:     200px;
  margin:     100px;
  text-align: center;
}

.fillInContact {
  padding:    5px;
  color:      $red;
  text-align: center;
}

.languagesSelector {
  padding:       12px 0;
  border-bottom: 1px solid $verticalMenuBorderColor;
}

.rightCollumn {
  background-color: $tableSpoilerBackground;
}

@media (min-width: $collapseWidth) {
  .parent {
    display: flex;
  }

  .leftCollumn {
    flex: 1 1;
  }

  .rightCollumn {
    flex: 2 2;
  }
}

@media (max-width: $collapseWidth) {
  .rightCollumn {
    margin-bottom: 90px;
  }
}

.recurringForm {
  display: flex;
  margin:  15px 0;

  >input {
    margin: auto 0;
  }
  &.hidden {
    display: none;
  }
}

.rule {
  flex:   1 1;
  margin: auto 0;
  cursor: pointer;

  &.disabled {
    color: $lightGray;
  }
}

.sendSmsCheckbox {
  margin-top:  12px;
  padding:     12px 0;
  font-weight: bold;
  cursor:      pointer;
}

.smsTemplates {
  >.textLabel {
    margin: 5px 0 3px;

    >.removeDiacritics {
      float:     right;
      color:     $gray;
      font-size: 13px;
      cursor:    pointer;
    }
  }

  >textarea {
    width:  100%;
    height: 100px;
    border: 1px solid $verticalMenuBorderColor;
    resize: none;
  }
}

.redText {
  color: $red;
}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  // align-items: stretch;
  &>div.leftCollumn {
    flex: 3 3;
    min-width: 100px;
    margin: auto;
    margin-left: 0px;
    order: 1;
  }
  &>div.middleCollumn {
    flex: 1 1;
    margin: auto;
    order: 2;
    min-width: 15px;
    text-align: center;
  }
  // TODO: Rename
  &>div.rightCcollumn {
    flex: 3 3;
    min-width: 100px;
    margin: auto;
    order: 3;
    margin-right: 0px;
  }
}
