@import '../_styles/app.desktop';

.contentPadding{
  padding: 25px 15px 0;
}

.centerDiv{
  padding:    $addButtonMargin 0;
  text-align: center;
  position:   fixed;
  bottom:     0px;
  right:      50%;
}
@media (min-width: $collapseWidth) {
  .centerDiv{
    transform: translateX(-50%);
  }
}
@media (max-width: $collapseWidth) {
  .centerDiv{
    transform: translateX(50%);
  }
}

.tableContainer{
  margin-bottom: 140px;
}

.floatRight{
  float: right;
}

.place{
  font-size: 25px;
}

.green{
  color: $green;
}

.yellow{
  color: darken($yellow, 5%);
}

.spoiler{

  >.flex{
    display: flex;

    >div{
      flex: 1 1;
    }
  }
}
