@import '../_styles/app.desktop';

.contentPadding{
  padding: 25px 15px 0;
}

.centerDiv{
  padding:    $addButtonMargin 0;
  text-align: center;
}

.floatRight{
  float: right;
}

.place{
  font-size: 25px;
}
