@mixin border-radius($radius) {
  border-radius:         $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  -o-border-radius:      $radius;
}

@mixin background-size($repeat) {
  background-size:          $repeat;
  -webkit-background-size:  $repeat;
  -moz-background-size:     $repeat;
  -o-background-size:       $repeat;
}

@mixin rotating($time) {
  animation:         rotating $time linear infinite;
  -webkit-animation: rotating $time linear infinite;
  -moz-animation:    rotating $time linear infinite;
  -ms-animation:     rotating $time linear infinite;
  -o-animation:      rotating $time linear infinite;
}

@mixin rotating-reverse($time) {
  animation:         rotating-reverse $time linear infinite;
  -webkit-animation: rotating-reverse $time linear infinite;
  -moz-animation:    rotating-reverse $time linear infinite;
  -ms-animation:     rotating-reverse $time linear infinite;
  -o-animation:      rotating-reverse $time linear infinite;
}

@-webkit-keyframes rotating {
  from {
    transform:         rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  to {
    transform:         rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform:         rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  to {
    transform:         rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}

@keyframes rotating-reverse {
  from {
    transform:         rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  to {
    transform:         rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform:    rotate(-360deg);
    -ms-transform:     rotate(-360deg);
    -o-transform:      rotate(-360deg);
  }
}

@mixin border-inside {
  box-sizing:         border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
}

@mixin add-button { // styling for those blue + buttons on bottom of page
  position:   fixed;
  right:      50%;
  transform: translateX(50%);
  text-align: center;

  @media (min-width: $collapseWidth) {
    bottom:  0;
    padding: $addButtonMargin 0;
  }

  @media (max-width: $collapseWidth) {
    bottom: 10px;
  }
}
