
// ============================================================================
// COLORS

$black:          #000;
$white:          #fff;
$gray:           #5a5a5a;
$lightGray:      #cacaca;
$lightLightGray: #e6e6e6;
$menuGray:       #282828;
$yellow:         #fc0;
$blue:           #1e9dd9;
$red:            #e63237;
$green:          #83bb26;

$clickableColor: $gray;
$selectedColor:  $yellow;
$actionColor:    $blue;
$confirmColor:   $green;
$removeColor:    $red;

$menuButtonFontColor:        #5f5f5f;
$dropdownSelectedBackground: #fc0;
$verticalMenuBorderColor:    #dadada;
$tableSpoilerBackground:     #f5f5f5;
$horizontalMenuBackground:   #888;
$hintBorderColor:            #a5a5a5;

// (weird) colors for occupancy
$grayBlue:          #748795;
$lightBlue:         #00aeff;
$darkBlue:          #0048ff;
$grayGreen:         #74958b;
$darkGreen:         #1d931a;
$blueGreen:         #1a936f;
$littleLighterGray: #878787;

// ============================================================================
// COLLAPSE WIDTH

$collapseWidth: 800px;

// ============================================================================
// MOBILE VERSION NAVIGATION BUTTONS OFFSET
$mobileNavigationBottomOffset: 15px;
$mobileNavigationSidesOffset:  15px;


// ============================================================================
$backButtonTopMargin: 35px;

// ============================================================================
// DATE AND TIME PICKER ROW HEIGHT
$pickerRowHeigh: 24px;
