@import '../../_styles/app.desktop';

.clickable{
  cursor: pointer;
  font-weight: bold;
}



.green{
  color: $green;
}

.yellow{
  color: darken($yellow, 5%);
}
.red{
  color: $red;
}


.spoiler{
  display: flex;

  >div{
    flex: 1 1;
  }

  ul{
    list-style-type: none;
    margin: 4px;
    padding-left: 6px;

    li>span {
      color: $gray;
      margin-left: 4px;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.rights{
  color: $gray;
  margin-left: 4px;
  font-size: 14px;
  font-weight: normal;
}

.pointer{
  cursor: pointer
}

// .tableContainer{
//   // margin-bottom: 140px;
// }
//
// .addButton {
//   margin-top:    $addButtonMargin ;
//   text-align:    center;
//   // position: 		 fixed;
//   // bottom: 			 0;
//   // margin-bottom: 40px;
//   // left: 0;
//   // right: 0;
// }

.addButton{
  padding:    $addButtonMargin 0;
  text-align: center;
  position:   fixed;
  bottom:     0px;
  right:      50%;
}
@media (max-width: $collapseWidth) {
  .addButton{
    transform: translateX(50%);
  }
}

.tableContainer{
  margin-bottom: 140px;
}
