@import '../../_styles/app.desktop';

.clickable {
  font-weight: bold;
  cursor: pointer;
}

.green {
  color: $green;
}

.yellow {
  color: darken($yellow, 5%);
}

.red {
  color: $red;
}


.spoiler {
  display: flex;

  >div {
    flex: 1 1;
  }

  ul {
    margin:          4px;
    padding-left:    6px;
    list-style-type: none;

    li>span {
      margin-left: 4px;
      color:       $gray;
      font-size:   14px;
      font-weight: normal;
    }
  }
}

.rights {
  margin-left: 4px;
  color:       $gray;
  font-size:   14px;
  font-weight: normal;
}

.pointer {
  cursor: pointer;
}

.addButton {
  @include add-button;
}

.tableContainer {
  margin-bottom: 140px;
}
