@import '../../../_styles/app.desktop';

.container{
  display: flex;
  background-color: $blue;
  color: $white;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;

  >div{

    &:first-child{ // name and description
      flex: 1 1;

      >div{


        &:first-child { // name
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  &.disabled{
    color: white;
    background-color: $lightLightGray;
    border: 1px solid $gray;
  }
}
