@import '../_styles/app.mobile';

.selected{
  color:        $black;
  font-size:    35px;
  font-weight:  bold;
}

.notSelected{
  color:        $lightGray;
  font-size:    25px;
}

.hidden{
  display: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.rowContainer{
  text-align: center;
}

.dateInput{
  width: calc(100% - 24px);
  font-size: 16px;
  padding: 12px 12px 8px;
  display: block;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.placeLabel{
  font-size: 25px;
  font-weight: bold;
  color: $blue;
  padding: 5px;
  float: left;
}

.selectedPlace{
  color: $yellow;
}

.error{
  text-align: center;
  color: $red;
  font-weight: bold;
  padding-top: 20px;
}


// for styling
.mobileSubmitButton{
  position: fixed;
  bottom:   $mobileNavigationBottomOffset;
  left:     $mobileNavigationSidesOffset;
  right:    $mobileNavigationSidesOffset;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

// @import '../_shared/styles/app.components';
@mixin colorize($color) {
  background-color: $color;

  &:not(.selected):not(.disabled):hover {
    background-color: darken($color, 10%)
  }
}
$size-normal: 50px;


.submitButton{
  @include border-radius(240px);

  width:      $size-normal;
  height:     $size-normal;
  font-size:  24px;
  border:     none;
  outline:    none;
  text-align: center;
  transition: all 0.4s ease;
  margin:     5px;

  @include colorize($clickableColor);
  color:   $white;
  cursor:  pointer;

  @include colorize($confirmColor);
}
.disabled{
  background: $lightGray;
  color:      darken($lightGray, 10);
  cursor:     default;
}
