@import '../../styles/app.components';
<<<<<<< HEAD
=======
@import '../../components/buttons/Button';
>>>>>>> feature/new_api

.absoluteSpan{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;

  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.bottom{
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: $white;
  background: $gray;
<<<<<<< HEAD
=======
  margin-top: 15px;
>>>>>>> feature/new_api
}

.clickable{
  cursor: pointer;
}

.bottomContent{
  padding: 15px;
}

<<<<<<< HEAD
.hint {
  background: $blue;
  color: $white;
  padding: 10px;
  text-align: center;
  margin-bottom: 24px;
=======
.hintContainer{
  display: flex;
  background: $blue;
  color: $white;
  margin-bottom: 24px;
  >button {
    margin: 10px;
  }
}

.hint {
  flex: 1 1;
  padding: 10px;
  text-align: center;
}

.featureButton{
  width: 90%;
  padding: 14px 8px;
  margin-bottom: 10px;
  @include border-radius(5px);
  font-size:  18px;
  border:     none;
  outline:    none;
  text-align: center;
  transition: all 0.4s ease;

  @include colorize($blue);
  color:   $white;
  cursor:  pointer;
>>>>>>> feature/new_api
}
