@import '../../styles/app.components';

.absoluteSpan{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;

  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.bottom{
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: $white;
  background: $gray;
}

.clickable{
  cursor: pointer;
}

.bottomContent{
  padding: 15px;
}

.hint {
  background: $blue;
  color: $white;
  padding: 10px;
  text-align: center;
  margin-bottom: 24px;
}
