@import '../../styles/app.components';

.body {
  position: fixed;
  padding:  10px;

  transform:  translateY(-50%);
  transition: opacity .2s ease;

  border:        1px solid $gray;
  border-radius: 3px;

  background-color: $white;
  z-index:          100;
  pointer-events:   none;
}

.originOnBottom {
  transform: translateY(-100%);
}

.originOnTop {
  transform: translateY(0%);
}
