@import '../../styles/app.components';

.body{
  position:         fixed;

  border-radius:    3px;
  border:           1px solid $gray;

  background-color: $white;
  padding:          10px;
  pointer-events:   none;

  transition:       opacity 0.2s ease;
  transform:        translateX(-50%);
}
