@import '../../styles/app.components';

.menu {
  width: 100%;
  margin-top: 1px;
  transition: all .3s ease;
}

// scalable content
@media (min-width: $collapseWidth) {
  @media (min-height: 830px) {
    .menu {
      margin-top: 80px;
    }
  }
}
