@import '../../styles/app.components';

.ul {
  margin:           0;
  padding:          0;
  list-style-type:  none;
}

.horizontal {
  display:  inline;
  color:    $lightGray;
}

.vertical {
  display: list-item;
}
