@import '../../styles/app.components';

.timePickeContainer {
  display: inline-block;
}

.picker {
  display: flex;
}

.hoursContainer {
  display: inline-block;
  width:   204px;
}

.minutesContainer {
  display:     inline-block;
  margin-left: 15px;
}


.hoursTable {
  width:        100%;
  text-align:   center;
  table-layout: fixed;

  >thead {
    > tr {
      > td {
        font-weight: bold;
      }
    }
  }
}

.minuteTable {
  text-align:   center;
  table-layout: fixed;

  >thead {
    > tr {
      > td {
        font-weight: bold;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.selected {
  width:            $pickerRowHeigh;
  height:           $pickerRowHeigh;
  margin:           auto;
  border-radius:    12px;
  background-color: $yellow;
  font-weight:      bold;
}

.buttonContainer {
  display:    block;
  margin-top: 5px;
  text-align: center;

  >span {
    font-weight: bold;
    cursor:      pointer;
  }
}

.pickerRow {
  height: $pickerRowHeigh;

  >td {
    >div {
      display:        inline-table;
      height:         $pickerRowHeigh;
      vertical-align: middle;
    }
  }
}
