@import '../../styles/app.components';

.section {
  background-color:  $blockBackGround;
  padding: 1em; // #f5f5f5
  border-radius: 5px;
  input {
    background-color: $inputsBackGround;
    border-radius: 5px;
  }
}
