@import '../../../_styles/app.desktop';

.container {
  display: flex;
  margin:  10px 0;
  padding: 20px;

  border:           1px solid $gray;
  border-radius:    5px;
  background-color: $blue;
  color:            $white;

  >div {
    &:first-child { // name and description
      flex: 1 1;

      >div {
        &:first-child { // name
          font-size:       20px;
          font-weight:     bold;
          text-decoration: underline;
        }
      }
    }
  }

  &.disabled {
    border:           1px solid $gray;
    background-color: $lightLightGray;
    color:            $white;
  }
}
