@import '../../styles/app.components';

$horizontal-menu-height: 50px;
$horizontal-menu-height-collapsed: 100px;

#layout.active #menu {
    display: initial;
}


#menu {
    background: $gray;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    left: 0;
    z-index: 5;
    top: 0;
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/
.menuLink {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 2em;
    height: auto;
    font-size: 10px;
    padding: 15px 15px;
}
/*Icon looks*/
.menuLink span {
    position: relative;
    display: block;
}
.menuLink span,
.menuLink span:before,
.menuLink span:after {
    background-color: $white;
    width: 100%;
    height: 0.2em;
}
.menuLink span:before,
.menuLink span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}
.menuLink span:after {
    margin-top: 0.6em;
}


/* -- MyStyles ---------------------------------------------------------------*/
.horizontalMenu{
  background-color: $white;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
.horizontalMenu>*{
  text-align: center;
}

.verticalMenu{
  background-color: $gray;
  color: white;
  position: fixed;
  left: 0px;
}
.pidLogo{
  background-color: $black;
}
.pidLogo>img{
  width: 100%;
  height: 100%;
}
.horizontalMenuContent{
  color: $black;
  flex-grow: 1;
  text-align: left;
}
.filters{
  color: $black;
  padding: 10px 25px;
}

.resizeLine{
  -webkit-user-drag: element;
  -khtml-user-drag: element;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 2px;
  background: transparent;
  left: 198px;
  z-index: 15;
  cursor: ew-resize;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/* -- Only apply on big window ---------------------------------------------- */
@media (min-width: $collapseWidth) {
  .bottom{
    position: fixed;
    bottom: 0;
    width: 200px;
  }

  .horizontalMenu{
    display: flex;
    height: $horizontal-menu-height;
  }
  .content{
    padding: 25px;
    margin-top: $horizontal-menu-height;
  }
  .pidLogo{
    display: inline-block;
    height: 100%;
    width: 200px;
  }
  .horizontalMenuContent{
    display: inline-block;
    height: 100%;
    padding: 0 25px;
  }

  .verticalMenu{
    width: 200px;
    top: $horizontal-menu-height;
    bottom: 0px;
  }

  #layout {
      padding-left: 200px;
  }

  #menu {
      /*left: 200px;*/
      width: 200px;
      margin-top: $horizontal-menu-height;
      bottom: 0;
  }

  .menuLink {
      display: none;
  }
}


/* -- Only apply on small window -------------------------------------------- */
@media (max-width: $collapseWidth) {
  #layout{
    padding: 5px !important;
  }

  .horizontalMenu{
    height: $horizontal-menu-height-collapsed;
  }
  .content{
    margin-top: $horizontal-menu-height-collapsed;
  }
  .pidLogo{
    display: block;
    height: 50%;
    width: 100% !important;
    border-bottom: 1px solid $yellow;
  }
  .horizontalMenuContent{
    display: block;
    height: 50%;
    text-align: center;
  }

  #menu {
      width: 100% !important;
      margin-top: $horizontal-menu-height-collapsed;
      display: none;
      > .bottom{
        width: 100% !important;
      }
  }

  .filters, .resizeLine{
    display: none;
  }

}
