@import '../../styles/app.components';

$bottomMenuHeight: 80px;

.backButton {
  position: fixed;
  bottom:   $mobileNavigationBottomOffset;
  left:     $mobileNavigationSidesOffset;

  &.addOffset {
    bottom:   $mobileNavigationBottomOffset + $bottomMenuHeight;
  }
}

.addButton {
  position:  fixed;
  bottom:    $mobileNavigationBottomOffset;
  left:      50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);

  &.addOffset {
    bottom:   $mobileNavigationBottomOffset + $bottomMenuHeight;
  }
}

.okButton {
  position: fixed;
  right:    $mobileNavigationSidesOffset;
  bottom:   $mobileNavigationBottomOffset;

  &.addOffset {
    bottom:   $mobileNavigationBottomOffset + $bottomMenuHeight;
  }
}

.app_page {
  margin-bottom: 80px;
}

.pageContent {
  // depends on height of header
  margin-top: 82px;
}

.errorContent {
  text-align: center;
}

.menu {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 12px 2px rgba($black, .75);
}

.page {
  padding: 10px;
}
