@import '../../styles/app.components';

.drop {
  overflow-x: hidden;
  text-align: left;
}

.drop > ul.scrollable {
  max-height:       54ex;
  overflow-y:       auto;
  overflow-x:       hidden;
  list-style-type:  none;
  padding:          0;
}

.filter {
  padding:          1ex;
  border:           0;
  border-bottom:    0.1ex solid $gray;
  outline:          none;
  text-align:       center;
  width: -webkit-fill-available;

}

ul.scrollable > li {
  padding: 0.3em 0.5em;
  cursor:  pointer;
  display: table;
  width: 95%;

  &.displayNone {
    display: none;
  }

  .contactLabel {
    display: table-row;
    font-size: larger;
  }

  div.contactInfo {
    display: table-row;
    font-size: smaller;
    }
  
  .contactInfoColumn {
    display: table-cell;
    padding-left: 1em;
    white-space: nowrap;
  }
}

.buttons {
  border-top: 0.1ex solid $black;
  margin-top: 1ex;
  display: table;

  & div.minWidthButton {
    max-width: 18em;
    min-width: 9em;
    display: table-cell;
    align-items: center;
    justify-content: center;
    margin: 1em;
  }
  & .buttonDescription {
    vertical-align: middle;
  }

  .line {
    display: table-row;
    margin: 1em 0em;
  }
}

.drop > ul > li:not(.selected):not(.filter):hover {
  background-color: $gray;
  color:            $white;
}

.hidden {
  opacity: 0;
}

.selected {
  background-color: $yellow;
  color:            $black;
}

.float {
  font-size: 1em;
  opacity:   0;
}

.dimmer {
  background-color: $lightGray !important;
  color:            $gray !important;
  cursor:           default;
}

.displayNone {
  display: none;
}


// -----------------------------------------
// Custom styles
