.matchWidth {
  min-height: 200px;

  // >svg {
  //   max-width: 90%;
  //   height: 	90%;
	// }
}

.rotate {
  >svg {
    width: 						inherit;
    transform: 				rotate(-90deg) translate(-100%, 0%);
    transform-origin: 0% 0%;
	}
}
