@import '../_shared/styles/variables.scss';

.flexBox{
  display: flex;
}

.flexChild{
  flex: 1 1;
}

.hint {
  margin-left: 15px;
  padding: 15px;
  background: darken($white, 10%);

  > div {
    margin: 10px;

    > img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
