@import '../_styles/app.desktop';

.controlls {
  display:  flex;
  position: fixed;
  right:    200px;
  bottom:   20px;
  left:     10px;
  z-index: 10;

  &.rightOffset {
    right: 85px;
  }

  .flex {
    flex-grow:  1;
    text-align: center;
  }
}

.occupancies {
  margin-bottom: 100px;
}

.newReservationTable {
  text-align: left;
}


// -- Only apply on small window --------------------------------------------
@media (max-width: $collapseWidth) {
  @media (max-width: 430px) {
    .hideOnSmallDisplays {
      display: none;
    }
    .controlls>div {
      flex: 1 1;
    }
  }

  .controlls {
    display: flex;

    >div {
      &:last-child {
        text-align: right;
      }
    }
  }
}
