@import '../../_styles/app.desktop';

.section {
  margin:        8px;
  padding:       10px;
  border:        1px solid $lightGray;
  border-radius: 3px;
}

.flexbox {
  display: flex;

  >.flex {
    flex: 1 1;
  }
}
