@import '../_styles/app.desktop';

.editUserButton{
  width: 55.5%;
}

.page {
	padding: 25px;
}

.addButton {
	margin-top:  $addButtonMargin;
	text-align: center;
}

.floatRight{
  float: right;
}

.rightColumn {
  background-color: $tableSpoilerBackground;
}

@media (min-width: $collapseWidth) {
  .parent {
    display: flex;
  }

  .leftColumn {
		flex: 1 1;
  }

  .rightColumn {
		flex: 2 2;
		margin-left: 20px;
  }
}