@import '../../styles/app.components';

.button {
  display:  inline-block;
  width:    100%;
  height:   36px;

  padding:  0 15px;
  border:   0;
  outline:  none;
  cursor:   pointer;
  overflow: hidden;
}

.drop {
  position: absolute;

  max-height: 200px;
  margin:     0;
  padding:    0;
  transition: .25s ease opacity;

  background-color: $white;
  color:            $black;
  text-align:       center;
  box-shadow:       0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  z-index:          10;
  overflow-y:       auto;

  & .fixed {
    position: fixed;
  }
}

.drop > li {
  padding: 14px 16px;
  cursor:  pointer;
}

.drop > li:not(.selected):hover {
  background-color: $gray;
  color:            $white;
}

.hidden {
  opacity: 0;
}

.display {
  display: none;
}

.selected {
  background-color: $yellow;
  color:            $black;
}

.float {
  font-size: 16px;
  opacity:   0;
}

.visible {
  opacity: 1;
}

.singleItem > i {
  display: none;
}

.singleItem {
  cursor: default;
}

.dimmer {
  background-color: $lightGray !important;
  color:            $gray !important;
  cursor:           default;
}


// -----------------------------------------
// Custom styles
.dark {
  background-color: $black;
  color:            $white;
}

.mobileDark {
  background-color: $black;
  color:            $white;
  font-size:        20px;
  font-weight:      bold;
}

.light {
  border-bottom:    1px solid $black;
  background-color: $white;
  color:            $black;
}

.reservation {
  @extend .light;
  height: 50px;
}

.transparent {
  border-bottom:    1px solid $white;
  background-color: rgba(0, 0, 0, 0);
  color:            $white;
}

.noUnderline {
  background-color: $white;
  color:            $black;
}

.highlighted {
  border-bottom: 1px solid $red;
}

.garageSelector {
  background-color: rgba(0, 0, 0, 0);
  color:            $yellow;
  font-weight:      bold;
}

.tabDropdown {
  height:        inherit;
  margin:        5px 2px 0;
  padding:       10px 20px;
  border-bottom: 3px solid $black;

  background-color: rgba(0, 0, 0, 0);
  color:            $black;
  font-size:        16px;
  font-weight:      bold;
}
