@import '../../styles/app.components';

$labels-offset:                -12px;
$font-size:                    16px;
$font-size-accessories:        11px;
$mobile-font-size-accessories: 9px;
$transition-time:              .2s;
$placeholder-transition:       .3s ease all;
$placeholder-delay:            .1s;


.textAreaContainer {
  margin-top:         22px;
  border-radius:      5px;
  background-color:   $inputsBackGround;
  position:           relative;
  height:             100%;

  >textarea {
    background-color: transparent;
    color:            black;
    width:            calc(100% - 24px);
    padding:          18px 12px 8px;
    border-color:     transparent;
    resize:           none;
    font-size:        $font-size;
    display:          block;
    height:           calc(100% - 3em);

    &:focus {
      outline:      none;
    }
  }

  >label {
    top:         6px;
    left:        8px;
    float:       left;
    font-size:   $font-size-accessories;
    white-space: nowrap;
    color:       $gray;
    position:    absolute;
  }

  // -- Responsive Styles (Media Queries) -------------------------------------
  // -- Only apply on big window ----------------------------------------------
  @media (min-width: $collapseWidth) {
    font-size: $font-size-accessories;
  }
  // -- Only apply on small window --------------------------------------------
  @media (max-width: $collapseWidth) {
    font-size: $mobile-font-size-accessories;
  }
}
