div.google-visualization-tooltip {
  left:      50% !important;
  top:       50% !important;
  transform: translate(-50%, -70%) !important;
  border:    none !important;

  background:     transparent;
  box-shadow:     none !important;
  pointer-events: none;
}

div.google-visualization-tooltip>ul, div.google-visualization-tooltip>ul>li {
  padding:    0;
  margin:     0 !important;
  text-align: center;
}
