@import '../styles/variables';

body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .2px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*::selection {
  background: $yellow;
}

*::-moz-selection {
  background: $yellow;
}

a:link {
  border-bottom: 2px solid $yellow;
  color: $black;
  text-decoration: none;
}

a:visited {
  color: $black;
}

a:hover {
  color: $yellow;
}

a:active {
  color: $yellow;
}
