@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}
<<<<<<< HEAD
=======

@mixin background-size($repeat) {
  -webkit-background-size:  $repeat;
  -moz-background-size:     $repeat;
  -o-background-size:       $repeat;
  background-size:          $repeat;
}
>>>>>>> feature/new_api
