@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin background-size($repeat) {
  -webkit-background-size:  $repeat;
  -moz-background-size:     $repeat;
  -o-background-size:       $repeat;
  background-size:          $repeat;
}

@mixin rotating($time) {
  -webkit-animation: rotating $time linear infinite;
  -moz-animation:    rotating $time linear infinite;
  -ms-animation:     rotating $time linear infinite;
  -o-animation:      rotating $time linear infinite;
  animation:         rotating $time linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin border-inside {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
