
// ============================================================================
// COLORS

$black:          black;
$white:          white;
$gray:           #5a5a5a;
$lightGray:      #cacaca;
$lightLightGray: #e6e6e6;
$menuGray:       #282828;
$yellow:         #ffcc00;
$blue:           #1e9dd9;
$red:            #e63237;
$green:          #83bb26;

$clickableColor: $gray;
$selectedColor:  $yellow;
$actionColor:    $blue;
$confirmColor:   $green;
$removeColor:    $red;

// ============================================================================
// COLLAPSE WIDTH

$collapseWidth: 800px;

// ============================================================================
// MOBILE VERSION NAVIGATION BUTTONS OFFSET
$mobileNavigationBottomOffset: 15px;
$mobileNavigationSidesOffset:  15px;


// ============================================================================
$backButtonTopMargin: 35px;

// ============================================================================
// DATE AND TIME PICKER ROW HEIGHT
$pickerRowHeigh: 24px;
