@import '../../styles/app.components';

.tr {
	cursor: pointer;

	&.hover:hover {
		background-color: darken($white, 10%);
		color: $black
	}

	> td {
		border-bottom: 1px solid $black;
		padding: 8px 4px;
	}
}
