@import '../../styles/app.components';

.tr {
  cursor: pointer;

  &.history {
    background-color: $tableSpoilerBackground;
    cursor:           default;

    >td {
      border: 0;
    }
  }

  &.updated {
    background-color: $tableSpoilerBackground;
    cursor:           default;

    >td {
      border-bottom: 1px dashed $black;
    }
  }

  &.hover:hover {
    background-color: $tableSpoilerBackground;
    color: 						$black;
	}

  >td {
    padding: 			 8px 4px;
    border-bottom: 1px solid $verticalMenuBorderColor;
	}
}


.removed {
  color:           $red;
  text-decoration: line-through;
}
