@import '../../styles/app.components';

.tr {
  cursor: pointer;

  &.hover:hover {
    background-color: darken($white, 10%);
    color: 						$black;
	}

  >td {
    padding: 			 8px 4px;
    border-bottom: 1px solid $black;
	}
}
