@import '../../../_styles/app.desktop';


.management {
  display: flex;

  >div:first-child {
    flex: 1 1;
  }
}

.warning {
  text-align: center;
  color:      $red;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.users{
  height:   200px;
  overflow: auto;
}

.noMarginBottom{
  margin-bottom: 0;
}
