@import '../../styles/app.components';
@import '../../components/buttons/Button';

.absoluteSpan {
  position:    absolute;
  top:         20px;
  left:        50%;
  transform:   translate(-50%, 0);
  font-weight: bold;

  -webkit-filter: invert(100%);
  filter:         invert(100%);
}

.bottom {
  margin-top:  15px;
  background:  $gray;
  color:       $white;
  font-size:   14px;
  line-height: 20px;
  text-align:  center;
}

.clickable {
  cursor: pointer;
}

.bottomContent {
  padding: 15px;
}

.hintContainer {
  display:       flex;
  margin-bottom: 24px;
  background:    $blue;
  color:         $white;

  >button {
    margin: 10px;
  }
}

.hint {
  flex:       1 1;
  padding:    10px;
  text-align: center;
}

.featureButton {
  @include border-radius(5px);
  @include colorize($blue);

  width:         90%;
  margin-bottom: 10px;
  padding:       14px 8px;
  transition:    all 0.4s ease;
  border:        0;
  outline:       none;
  color:         $white;
  font-size:     18px;
  text-align:    center;
  cursor:        pointer;
}

.dropdownContent {
  padding:     6px 20px;
  font-size:   15px;
  white-space: nowrap;
  cursor:      pointer;

  >i {
    padding:        0 5px;
    color:          $white;
    font-size:      32px;
    vertical-align: middle;
  }
}
