@import '../../_styles/app.desktop';

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.addButton {
  margin-top: $addButtonMargin;
  text-align: center;
}

.dropdownsContainer {
  float:      right;
  text-align: left;

  >div {
    display: inline-block;
    margin-right: 5px;

    >button {
      margin-top: 6px;
    }
  }
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.actionButtons {
  margin: 30px 0;
  text-align: left;
}
