@import '../../_styles/variables.desktop.scss';
@import '../../_shared/styles/variables.scss';

.floatRight{
  float: right;
}
.floatLeft{
  float: left;;
}

.addButton {
	margin-top: $addButtonMargin;
	text-align: center;
}

.dropdownsContainer{
  >div{
    display: inline-block;
    margin-right: 5px;
  }
}

.green{
  color: $green;
}

.red{
  color: $red;
}

.actionButtons{
  text-align: left;
  margin: 30px 0;
  float: right;
}
