@import '../../_styles/variables.desktop.scss';
@import '../../_shared/styles/variables.scss';

.floatRight{
  float: right;
}
.floatLeft{
  float: left;;
}

.addButton {
	margin-top: $addButtonMargin;
	text-align: center;
}
